h1 {
    text-align: center;
    color: purple;
}
nav a:hover {
    color: orange;
    text-decoration: bold;
}
ul {
    border: 2px dashed black;
    margin: 5px;
    padding: 30px;
    width: 100px;
    height: 30px;
}
h3 {
    margin: 20px;
}